<div class="margin">
  <h1>Stupid Coaching</h1>
  <h3>Ask your coach anything:</h3>
  <div class='form-group'>
    <form action="/answer" class='forms'>
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary btn-light-blue">
    </form>
  </div>
</div>
